.App {
  text-align: center;
}

.Title {
  color: black;
  font-size: calc(10px + 2vmin);
  margin-bottom: 2vh;
}

.Currency {
  border: 1px solid gray;
  width: 50vh;
  display: block;
  justify-content: center;
}

.Column {
  margin: 2vh;
  margin-bottom: 4.8vh;
  display: flex;
  justify-content: space-between;
}

.Amount {
  
  margin: 2.2vh;
  margin-bottom: 4.6vh;
  font-size: calc(2vh);
  display: flex;
  justify-content: center;
}

.par {
  margin-left: 1vh;
}

.Container {
  display: flex;
  justify-content: center;
}

.Bar-container {
  border: 1px solid gray;
  height: 80vh;
  width: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-flow: column wrap;
  margin: auto;
}

.Bar {
  border: 1px solid black;
  width: 60vh;
  height: 5vh;
  margin: 2vh;
}

#redBar, #greenBar, #blueBar, #cyanBar, #magentaBar, #yellowBar, #blackBar {
  height: 100%;
  width: 0%;
}

#redBar {
  background-color: red;
}

#greenBar {
  background-color: green;
}

#blueBar {
  background-color: blue;
}

#cyanBar {
  background-color: cyan;
}

#magentaBar {
  background-color: magenta;
}

#yellowBar {
  background-color: yellow;
}

#blackBar {
  background-color: black;
}

.Unlock {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#unlockBtn, #unlockTxt, #blueBtn, #pblue, #cyanBtn, #pcyan, #magentaBtn, #pmagenta, #yellowBtn, #pyellow, #blackBtn, #pblack {
  visibility: hidden;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}